@use './font-src' as fs;

@font-face {
  font-family: ScopeOne;
  font-weight: 400;
  src: fs.$scope-one;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: fs.$open-sans;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: fs.$open-sans-italic;
}
