@use '@/styles/mixins/index' as m;

.chevron {
  &:not(.slow) {
    @include m.transition(transform);
  }

  &.vertical {
    transform: rotate(90deg);
  }
  &.vertical.expanded {
    transform: rotate(270deg);
  }
  &.horizontal {
    transform: rotate(0deg);
  }
  &.horizontal.expanded {
    transform: rotate(180deg);
  }

  > path {
    fill: var(--primary);
  }
}
