@use '../styles/mixins/viewport-sizes' as vs;

#page-ux-clips {
  margin-top: var(--xl);

  h1 + p {
    margin-top: var(--sm);
  }

  .main-nav {
    margin-top: var(--md);

    @include vs.desktop {
      li {
        display: inline-block;
      }

      li + li:before {
        content: '/';
        margin-left: var(--sm);
        margin-right: var(--sm);
      }
    }
  }

  video {
    max-width: 100%;
    margin-top: var(--md);
  }
}
